<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SandBoxTest.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-GMA0J1U;Initial Catalog=Proyecto2Lab2;User ID=alfa;Password=beta"
            providerName="System.Data.SqlClient" />

      <add name="CONN_STRING" connectionString="Data Source=DESKTOP-GMA0J1U;Initial Catalog=Proyecto2Lab2;User ID=alfa;Password=beta" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>