USE [master]
GO
/****** Object:  Database [Proyecto2Lab2]    Script Date: 7/1/2019 9:31:04 PM ******/
CREATE DATABASE [Proyecto2Lab2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto2Lab2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Proyecto2Lab2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto2Lab2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Proyecto2Lab2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto2Lab2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto2Lab2]
GO
/****** Object:  Table [dbo].[TBL_CONTACTMETHODS]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONTACTMETHODS](
	[OWNER_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[VALUE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NOT NULL,
	[INDPUBLICIDAD] [nvarchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CUSTOMERS]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CUSTOMERS](
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[SEX] [nvarchar](50) NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DIRECTIONS]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DIRECTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OWNER_ID] [nvarchar](15) NOT NULL,
	[PROVINCE] [nvarchar](50) NOT NULL,
	[CANTON] [nvarchar](50) NOT NULL,
	[DISTRITO] [nvarchar](50) NOT NULL,
	[DETAILS] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESSAGES]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESSAGES](
	[Id] [int] NOT NULL,
	[Text] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VALUELIST]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VALUELIST](
	[ID] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[VALUE] [nvarchar](200) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CONTACTMETHODS] ON 

INSERT [dbo].[TBL_CONTACTMETHODS] ([OWNER_ID], [TYPE], [VALUE], [DESCRIPTION], [INDPUBLICIDAD], [ID]) VALUES (N'131', N'CellPhone', N'383283289', N'iPhone', N'????', 7)
SET IDENTITY_INSERT [dbo].[TBL_CONTACTMETHODS] OFF
INSERT [dbo].[TBL_CUSTOMERS] ([ID], [NAME], [LAST_NAME], [DATE_OF_BIRTH], [SEX], [STATE]) VALUES (N'131', N'Milton', N'Pineda', CAST(N'1992-07-17' AS Date), N'male', N'single')
INSERT [dbo].[TBL_CUSTOMERS] ([ID], [NAME], [LAST_NAME], [DATE_OF_BIRTH], [SEX], [STATE]) VALUES (N'132', N'BBG', N'501', CAST(N'1997-04-11' AS Date), N'Male', N'Single')
INSERT [dbo].[TBL_CUSTOMERS] ([ID], [NAME], [LAST_NAME], [DATE_OF_BIRTH], [SEX], [STATE]) VALUES (N'133', N'Ney', N'Lao', CAST(N'2019-06-13' AS Date), N'Female', N'Single')
SET IDENTITY_INSERT [dbo].[TBL_DIRECTIONS] ON 

INSERT [dbo].[TBL_DIRECTIONS] ([ID], [OWNER_ID], [PROVINCE], [CANTON], [DISTRITO], [DETAILS], [TYPE]) VALUES (12, N'131', N'San Jose', N'Escazú', N'San Rafael', N'Trejos', N'Home')
SET IDENTITY_INSERT [dbo].[TBL_DIRECTIONS] OFF
INSERT [dbo].[TBL_MESSAGES] ([Id], [Text]) VALUES (4, N'Sex must be ''m'' or ''f''')
INSERT [dbo].[TBL_VALUELIST] ([ID], [DESCRIPTION], [VALUE]) VALUES (N'ProvinceList', N'Provinces', N'San Jose')
INSERT [dbo].[TBL_VALUELIST] ([ID], [DESCRIPTION], [VALUE]) VALUES (N'ProvinceList', N'Provinces', N'Heredia')
INSERT [dbo].[TBL_VALUELIST] ([ID], [DESCRIPTION], [VALUE]) VALUES (N'ProvinceList', N'Provinces', N'Limon')
ALTER TABLE [dbo].[TBL_CONTACTMETHODS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CONTACTMETHODS_TBL_CUSTOMERS] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[TBL_CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_CONTACTMETHODS] CHECK CONSTRAINT [FK_TBL_CONTACTMETHODS_TBL_CUSTOMERS]
GO
ALTER TABLE [dbo].[TBL_DIRECTIONS]  WITH CHECK ADD FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[TBL_CUSTOMERS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[CRE_CONTACTMETHOD_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_CONTACTMETHOD_PR]
	
	@P_OWNER_ID nvarchar(15),
	@P_TYPE nvarchar(25),
	@P_VALUE nvarchar(25),
	@P_DESCRIPTION nvarchar(25),
	@P_INDPUBLICIDAD nvarchar(25)
	

AS
	INSERT INTO [dbo].[TBL_CONTACTMETHODS] VALUES(@P_OWNER_ID,@P_TYPE,@P_VALUE,@P_DESCRIPTION,@P_INDPUBLICIDAD);
GO
/****** Object:  StoredProcedure [dbo].[CRE_CUSTOMER_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  CUSTOMERS
CREATE PROCEDURE [dbo].[CRE_CUSTOMER_PR]
	@P_ID nvarchar(25),
	@P_NAME nvarchar(25),
	@P_LAST_NAME nvarchar(25),
	@P_DATE_OF_BIRTH date,
	@P_SEX nvarchar(25),
	@P_STATE nvarchar(25)

AS
	INSERT INTO [dbo].[TBL_CUSTOMERS] VALUES(@P_ID,@P_NAME,@P_LAST_NAME,@P_DATE_OF_BIRTH,@P_SEX,@P_STATE);
GO
/****** Object:  StoredProcedure [dbo].[CRE_DIRECTION_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  DIRECTIONS
CREATE PROCEDURE [dbo].[CRE_DIRECTION_PR]
	@P_OWNER_ID nvarchar(15),
	@P_PROVINCE nvarchar(25),
	@P_CANTON nvarchar(25),
	@P_DISTRITO nvarchar(25),
	@P_DETAILS nvarchar(25),
	@P_TYPE nvarchar(25)

AS
	INSERT INTO [dbo].[TBL_DIRECTIONS] VALUES(@P_OWNER_ID,@P_PROVINCE,@P_CANTON,@P_DISTRITO,@P_DETAILS,@P_TYPE);

GO
/****** Object:  StoredProcedure [dbo].[DEL_CONTACTMETHOD_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_CONTACTMETHOD_PR]
	@P_ID int
AS
	DELETE FROM TBL_CONTACTMETHODS WHERE ID=@P_ID;
GO
/****** Object:  StoredProcedure [dbo].[DEL_CUSTOMER_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DELETE CUSTOMER
CREATE PROCEDURE [dbo].[DEL_CUSTOMER_PR]
	@P_ID nvarchar(25)
AS
	DELETE FROM TBL_CUSTOMERS WHERE ID=@P_ID;

GO
/****** Object:  StoredProcedure [dbo].[DEL_DIRECTION_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_DIRECTION_PR]
	@P_ID nvarchar(25)
AS
	DELETE FROM TBL_DIRECTIONS WHERE ID=@P_ID;

GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_CONTACTMETHODS_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_CONTACTMETHODS_PR]
AS
	SELECT OWNER_ID, TYPE, VALUE, DESCRIPTION, INDPUBLICIDAD, ID FROM [TBL_CONTACTMETHODS];

GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_CUSTOMER_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL CUSTOMER
CREATE PROCEDURE [dbo].[RET_ALL_CUSTOMER_PR]
AS
	SELECT ID, NAME, LAST_NAME, DATE_OF_BIRTH, SEX, STATE FROM TBL_CUSTOMERS;
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_DIRECTIONS_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL DIRECTIONS
CREATE PROCEDURE [dbo].[RET_ALL_DIRECTIONS_PR]
AS
	SELECT [ID], OWNER_ID, PROVINCE, CANTON, DISTRITO, DETAILS, TYPE FROM [TBL_DIRECTIONS];

GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_LISTS_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_LISTS_PR]
AS
	SELECT [ID], [DESCRIPTION], [VALUE] FROM [TBL_VALUELIST];
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_MESSAGE_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_MESSAGE_PR]
AS
	SELECT ID, TEXT FROM TBL_MESSAGES;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[RET_CONTACTMETHOD_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RET DIRECTION BY ID
CREATE PROCEDURE [dbo].[RET_CONTACTMETHOD_PR]
	@P_OWNER_ID nvarchar(25)
AS
	SELECT OWNER_ID, TYPE, VALUE, DESCRIPTION, INDPUBLICIDAD FROM TBL_CONTACTMETHODS WHERE OWNER_ID=@P_OWNER_ID;

GO
/****** Object:  StoredProcedure [dbo].[RET_CUSTOMER_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RET CUSTOMER BY ID
CREATE PROCEDURE [dbo].[RET_CUSTOMER_PR]
	@P_ID nvarchar(25)
AS
	SELECT ID, NAME, LAST_NAME, DATE_OF_BIRTH, SEX, STATE FROM TBL_CUSTOMERS WHERE ID=@P_ID;

GO
/****** Object:  StoredProcedure [dbo].[RET_DIRECTION_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_DIRECTION_PR]
	@P_OWNER_ID nvarchar(25)
AS
	SELECT OWNER_ID, PROVINCE, CANTON, DISTRITO, DETAILS, TYPE FROM TBL_DIRECTIONS WHERE OWNER_ID=@P_OWNER_ID;

GO
/****** Object:  StoredProcedure [dbo].[UPD_CONTACTMETHOD_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_CONTACTMETHOD_PR]
	@P_OWNER_ID nvarchar(15),
	@P_TYPE nvarchar(25),
	@P_VALUE nvarchar(25),
	@P_DESCRIPTION nvarchar(25),
	@P_INDPUBLICIDAD nvarchar(25),
	@P_ID nvarchar(25)

AS
	UPDATE [dbo].[TBL_CONTACTMETHODS] SET OWNER_ID = @P_OWNER_ID, TYPE=@P_TYPE, VALUE=@P_VALUE, DESCRIPTION=@P_DESCRIPTION, INDPUBLICIDAD = @P_INDPUBLICIDAD WHERE ID=@P_ID;
GO
/****** Object:  StoredProcedure [dbo].[UPD_CUSTOMER_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE CUSTOMER
CREATE PROCEDURE [dbo].[UPD_CUSTOMER_PR]
	@P_ID nvarchar(25),
	@P_NAME nvarchar(25),
	@P_LAST_NAME nvarchar(25),
	@P_DATE_OF_BIRTH date,
	@P_SEX nvarchar(25),
	@P_STATE nvarchar(25)

AS
	UPDATE [dbo].[TBL_CUSTOMERS] SET NAME= @P_NAME, LAST_NAME=@P_LAST_NAME, DATE_OF_BIRTH=@P_DATE_OF_BIRTH, SEX=@P_SEX, STATE = @P_STATE WHERE ID=@P_ID;
GO
/****** Object:  StoredProcedure [dbo].[UPD_DIRECTION_PR]    Script Date: 7/1/2019 9:31:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_DIRECTION_PR]
	@P_OWNER_ID nvarchar(15),
	@P_PROVINCE nvarchar(25),
	@P_CANTON nvarchar(25),
	@P_DISTRITO nvarchar(25),
	@P_DETAILS nvarchar(25),
	@P_TYPE nvarchar(25),
	@P_ID int

AS
	UPDATE [dbo].[TBL_DIRECTIONS] SET OWNER_ID = @P_OWNER_ID, PROVINCE=@P_PROVINCE, CANTON=@P_CANTON, DISTRITO=@P_DISTRITO, DETAILS = @P_DETAILS, TYPE = @P_TYPE WHERE ID=@P_ID;
GO
USE [master]
GO
